$bg-color: #c0c0c0; 
$size: 1em; 

body {
    background-color: $bg-color;
    margin: $size * 2;
}

#main {
    width: 97%;
    p, div {
        font-size: 20px;
        a {
            text-decoration: none;
        }
    }
 span {
     font-size: 22px;
 }
}

#capa1 {
    @inc
}